build/home-cinema/HomeCinemaServer*
build/home-cinema/*.log
build/home-cinema/*.dmg
build/home-cinema/dmg-staging/
build/home-cinema/media_dir.txt
build/home-cinema/HomeCinemaControl.app/
build/home-cinema/HomeCinemaControlSwift/Home Cinema Control.app/
build/home-cinema/HomeCinemaControlSwift/.swift-module-cache/
build/home-cinema/HomeCinemaControlSwift/.go/
build/home-cinema/HomeCinemaControlSwift/.go-build-cache/
build/home-cinema/HomeCinemaControlSwift/HomeCinemaControl
server.log
progress.json
homecinema
*.DS_Store
